*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.755);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.music-player{
    background: rgb(248, 170, 183);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: white;
    color: rgb(212, 50, 136);
     box-shadow: 0 5px 10px rgba(225, 26, 26, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50px;
    border: 8px solid  white;
    box-shadow: 0 10px 60px rgba(225, 26, 26, 0.22);
}
.music-player{
    font-size: 20px;
    font-weight: 400;
    color:  rgba(0, 0, 0, 0.755);
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color:  rgba(0, 0, 0, 0.755);
}
#progress{
    width: 100%;
    height: 6px;
    background: rgb(212, 50, 136);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;

}
#progress::-webkit-slider-thumb{
    -webkit-animation: none;
    background: rgb(212, 50, 136);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid  white;
    box-shadow: 0 5px 5px rgba(225, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background:  white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(212, 50, 136);
    box-shadow: 0 10px 20px rgba(225, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background:  rgb(212, 50, 136);
    color:  white;
}